#!/bin/bash

VENF="${SBDEV}/${ROMNIS}_${SBDEV}.mk";
{
    echo -e "# ${SBCM} ${SBDEV}";
    echo -e "\nifeq (${ROMNIS}_${SBDEV},\$(TARGET_PRODUCT))";
    echo -e "\tPRODUCT_MAKEFILES += \$(LOCAL_DIR)/${VENF}\nendif";
} >> AndroidProducts.mk;
echo -e "\ninclude vendor/${ROMNIS}/main.mk" >> "${VENF}";
mv -f "${CALL_ME_ROOT}${DEVDIR}"/*.dependencies "${SBDEV}/pa.dependencies";
