#!/bin/bash

echo -e "${INF} Works with AOSP repositories, Downloads a prepackaged bundle file instead of objects from the server (Less objects, better sync)";
echo -e "\n${INF}Sync takes place faster coz Google!\n";
