#!/bin/bash

echo -e "\n${INF} Explanations of each file given in";
echo -e "\n${INDENT}https://scribt.github.io/wiki/pre-build.html - 'Device Types' section";
echo -e "\n${INDENT}For Phones : If you don't find common_full_phone / common_mini_phone then answer ${CL_WYT}common${NONE}";
echo -e "\n${INDENT}BuildSystem would use common properties\n";
