#!/bin/bash

echo -e "\n${INF} make/mka is a GNU/Linux utility for building any GNU/Linux System. Android in this case";
echo -e "${INDENT}${CL_WYT}make${NONE} needs number of threads as an argument. If not Specified, it'd use max threads";
echo -e "${INDENT}${CL_WYT}mka${NONE} is a function made by CyanogenMod which automatically determines the no. of threads";
echo -e "${INDENT} Uses schedtool and ionice for optimized usage of CPU cores";
