#===================================a7r3, 2016=================================#
#                           FILE MADE TO SHUT_MY_MOUTH                         #
#                                                                              #
#                  Place a Semi-colon ';' after entering a Value               #
#==============================================================================#

function the_cherries()                 # Since this is Automated - Use Proper Cherry-picks - conflicts won't be solved
{
    builddir=$(pwd);                    # TO get back to Build Dir

#   #===========PICK 1=============#
#   cd ${builddir}/[ENTER_DIRECTORY];   # The Directory in which you need to Pick a Commit
#   REPOPK=[ENTER_ORGANIZATION_NAME];   # Repo Provider who has that Repo
#   REPONAME=[ENTER_REPO_NAME];         # Name of the Repo
#   CP_BRNC=[ENTER_BRANCH_NAME];        # Branch of the Repo
#   cherrypick [ENTER_COMMIT_ID];       # Commit ID in place of -> '[ENTER_COMMIT_ID]'
#   cd $builddir;
#   #==============================#
#
#   #===========PICK 2=============#
#   cd ${builddir}/[ENTER_DIRECTORY];   # The Directory in which you need to Pick a Commit
#   REPOPK=[ENTER_ORGANIZATION_NAME];   # Repo Provider who has that Repo
#   REPONAME=[ENTER_REPO_NAME];         # Name of the Repo
#   CP_BRNC=[ENTER_BRANCH_NAME];        # Branch of the Repo
#   cherrypick [ENTER_COMMIT_ID];       # Commit ID in place of -> '[ENTER_COMMIT_ID]'
#   cd $builddir;
#   #==============================#

#   You may add many more picks like this.
} # the_cherries

function automate()
{
    # Load Configs...
    configs;
    # You may Enter your Desired Build Sequence here
    # Default Sequence - You may change this
    # You may enter your own build/device-specific commands, normally between any of these calls below, works.
    sync;
    the_cherries;
    build;
    exitScriBt;
} # automate
