#===================================a7r3, 2016=================================#
#                           FILE MADE TO SHUT_MY_MOUTH                         #
#                                                                              #
#                  Place a Semi-colon ';' after entering a Value               #
#==============================================================================#

function color
{
    DMCOL=                                  # Like Colors? [y/n]
}

function reposync
{
    DMJOBS=                                 # No of Threads for Sync [Integral Values Plz]
    DMF=                                    # Force Sync ? [y/n]
    DMS=                                    # Silent sync ? [y/n]
    DMC=                                    # Sync Current Branch ? [y/n]
    DMB=                                    # USe clone-bundle ? [y/n]
}

function repoinit
{
    ROMNO=                                  # ROM Selection Number [Refer ROM.sh / README.md]
    DMBR=                                   # Branch of the ROM
    DMRF=                                   # Have a Reference ? [YES/NO]
    DMRFL=                                  # Reference Source's Location from /
    DMCD=                                   # Set a Clone-Depth ? [y/n]
    DMDEP=1;                                # Depth Value (Default 1)
}

function deviceinfo
{
    DMDEV=                                  # Device codename (Lowercases)
    DMBT=                                   # userdebug / user / eng
    DMCM=                                   # Device Company / Vendor
    DMDTP=.                                 # Device Type
}

function buildinfo
{
    DMBO=1                                  # DMBO=1 for Start Build with Zip Generation at the End - Better not to change
    DMSLT=                                  # lunch / brunch / breakfast
    DMMK=                                   # make / mka
    DMCL=                                   # Clean Before Build? [ 1 for installclean & 2 for total clean ]
    DMJK=                                   # Use Jack Toolchain [y/n] ?
    DMNJ=                                   # Use Ninja Toolchain [y/n] ?
}

function the_cherries                       # Since this is Automated - Use Proper Cherry-picks - conflicts won't be solved
{
    builddir=$(pwd);                        # TO get back to Build Dir

#   #===========PICK 1=============#
#   cd ${builddir}/[ENTER_DIRECTORY];       # The Directory in which you need to Pick a Commit
#   REPOPK=[ENTER_ORGANIZATION_NAME];       # Repo Provider who has that Repo
#   REPONAME=[ENTER_REPO_NAME];             # Name of the Repo
#   CP_BRNC=[ENTER_BRANCH_NAME];            # Branch of the Repo
#   cherrypick [ENTER_COMMIT_ID];           # Commit ID in place of -> '[ENTER_COMMIT_ID]'
#   cd $builddir;
#   #==============================#
# 
#   #===========PICK 2=============#
#   cd ${builddir}/[ENTER_DIRECTORY];       # The Directory in which you need to Pick a Commit
#   REPOPK=[ENTER_ORGANIZATION_NAME];       # Repo Provider who has that Repo
#   REPONAME=[ENTER_REPO_NAME];             # Name of the Repo
#   CP_BRNC=[ENTER_BRANCH_NAME];            # Branch of the Repo
#   cherrypick [ENTER_COMMIT_ID];           # Commit ID in place of -> '[ENTER_COMMIT_ID]'
#   cd $builddir;
#   #==============================#

#   You may add many more picks like this.
}

function vendor_strat                       # Only Enter Values if Building PAC till 5.1 / AOKP till 4.4 / Krexus-6.0
{
    BOOTRES=                                # Boot Anim Resolution Value (as instructed in main ScriBt)
    NMK=                                    # No of Makefile calls you want to add  
    LOC=(    );                             # Enter Location of each Makefile, seperated by spaces...
                                            # ...Example -> LOC=( vendor/ex1/exmp.mk vendor/ex2/exmp.mk some/file/here.mk) 
}

function collector                          # Collect all Information
{
    color;
    repoinit;
    rom_names $ROMNO;
    reposync;
    deviceinfo;
    buildinfo;
    vendor_strat;
}

function automate                           # Function will only work if it has all the Values Pre-Defined in function 'collector'
{
    # You may Enter your Desired Build Sequence here
    # Default Sequence - You may change this
    # You may enter your own build/device-specific commands, normally between any of these calls below, works.
    sync;
    the_cherries;
    build;
    exitScriBt;
}
