#!/bin/bash

# Arch Linux - common packages
PKGS="git gnupg flex bison gperf sdl wxgtk squashfs-tools curl ncurses zlib schedtool perl-switch zip unzip libxslt python2-virtualenv bc rsync maven";
PKGS64="$( pacman -Sgq multilib-devel ) lib32-zlib lib32-ncurses lib32-readline";
PKGSJAVA="jdk6 jdk7-openjdk";
PKGS_CONFLICT="gcc gcc-libs";
